<!DOCTYPE html>
<html class="color-blue with-lwbar-both media-desk-lg">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>GoodNews</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header class="header" role="banner">
      <nav class="menu-access"></nav>
      <div class="container">
        <span class="control-menu visible-xs ico-menu-2"></span>
        <span class="control-sidebar visible-xs ico-list"></span>
        <h1 class="project-name"><a href="#">#Hash Tags</a></h1>
      </div>
    </header>

    <div class="nav-content"><div class="lwbar-id ico-user"><span class="lwbar-login-name"></span><span class="lwbar-plan"></span></div>
      <menu class="menu">
        <ul class="container">
          <li>
            <%= link_to "home", root_path, class:"active  ico-podcast", role:"menuitem"%>
          </li>
        </ul>
      </menu>
      <h2 class="title-sep visible-xs">Mais</h2>
      <ul class="nav-mob-list visible-xs">
        <li><a href="#" class="ico-help-circle">Ajuda e sugestões</a></li>
      </ul>
    </div>

    <main class="main"><span class="bg-shortcut-workaround" style="height: 367px;"></span>
      <div class="container">
        <div class="row">
          <div class="col-md-12 content" role="main">
            <% flash.each do |key, value| %>
              <div class="<%= flash_class(key) %> fade in">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <%= value %>
              </div>
            <% end %>

            <%= yield %>

          </div>
        </div>
      </div>
    </main>

    <%= javascript_include_tag 'application' %>

    <script type='text/javascript'>
      <%= yield :javascript %>

      <% if !flash.blank? %>
        setTimeout(function() {
          $(".alert"). alert('close');
        }, 5000);
      <% end %>
    </script>
  </body>
</html>
